.ar-mode-container {
    position: fixed;
    bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.bottom-navbar-container {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.ar-mode-button {
    position: fixed;
    bottom: 20px;
    width: 20%;
    max-width: 90px;
    z-index: 2;
}

.bottom-navbar-button {
    font-size: 150%;
}
