.page-container {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15% 2% 75px;
}

#firebase-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}